<ng-container *ngTemplateOutlet="isAuthenticated ? authContent : unauthContent"></ng-container>

<ng-template #authContent>
  <kosaml-menu-bar></kosaml-menu-bar>
  <kosaml-sidebar [isProjectBarOpen]="isProjectBarOpen" [isToolBarOpen]="isToolBarOpen" [project]="project"
    (logout)="onLogout()" [width]="sidebarWidth" (widthChange)="widthChange($event)">
    <kosaml-content></kosaml-content>
  </kosaml-sidebar>
</ng-template>

<ng-template #unauthContent>
  <kosaml-content></kosaml-content>
</ng-template>